.jsmod-mask-enter-active,
.jsmod-mask-leave-active
  opacity: 1;
  transition-duration: 400ms;
  transform: scale(1)!important;
  transition-property: transform, opacity!important;

.jsmod-mask-leave-active
  transition-duration: 300ms;

.jsmod-mask-enter
  opacity: 0;
  transform: scale(1.185)!important;

.jsmod-mask-leave-active
  opacity: 0;
  transform: scale(1)!important;
